<% if !@order_item.nil? && @order_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @order_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @order_items.size == 0 %>
  <p class="text-center">
    There are no items in your shopping cart.  Please <%= link_to "go back", root_path %> and add some items to your cart.
  </p>
<% else %>
  <% @order_items.each do |order_item| %>
    <%= render 'carts/cart_row', accessory: order_item.accessory, order_item: order_item, show_total: true %>
  <% end %>
<% end %>
<h3>Select the realm you abide in</h3>

<%= form_tag(new_charge_path, method: "get") do %>
  <%= label_tag(:q, "Select a realm:") %>
<select name="provinces">
    <% @provinces.each do |province| %>
      <option value="<%=province.id%>"><%= province.name %></option>
    <% end %>
  </select>
  <%= submit_tag("Checkout") %>
<% end %>
<%# <select name="provinces"> %>
    <%# <% @provinces.each do |province| %>
      <%# <option value="province.pst + province.gst + province.hst"><%= province.name %>
      <%# </option> %>
    <%# <% end %>
  </select>
<br>
<div class="btn-link">
  <%= link_to 'checkout', new_charge_path %>
</div>