<p id="notice"><%= notice %></p>

<h1>Accessories</h1>


<table>
  <thead>
    <tr>
      <th>Accessory</th>
      <th>Description</th>
      <th>Cost</th>
      <th>Stock</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <% @accessories.each do |accessory| %>

      <tr>
        <td><%= accessory.accessory_name %></td>
        <td><%= accessory.description %></td>
        <td><%= number_to_currency accessory.cost %></td>
        <td><%= accessory.stock %></td>
        <td>
        <div class="input-group">
          <%= number_field :stock, value: 1, class: "form-control", min: 1 %>
        </div>
        </td>
        <td>
          <div class="input-group-btn">
            <%= hidden_field :accessory_id, value: accessory.id %>
            <%= submit_tag "Add to Cart", class: "btn btn-primary" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @accessories %>

<br>

