<p id="notice"><%= notice %></p>

<h1>Accessories</h1>


<table>
  <thead>
    <tr>
      <th>Accessory</th>
      <th>Description</th>
      <th>Cost</th>
      <th>Stock</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accessories.each do |accessory| %>
      <tr>
        <td><%= accessory.accessory_name %></td>
        <td><%= accessory.description %></td>
        <td>$<%= accessory.cost %></td>
        <td><%= accessory.stock %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @accessories %>

<br>

