<p id="notice"><%= notice %></p>
<p>
  <strong>Accessory name:</strong>
  <%= @accessory.accessory_name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @accessory.description %>
</p>
<p>
  <strong>Cost:</strong>
  <%= @accessory.cost %>
</p>
<p>
  <strong>Stock:</strong>
  <%= @accessory.stock %>
</p>
<div class="well">

  <div class="row">
    <div class="col-xs-8">
      <h4><%= @accessory.accessory_name %></small></h4>
    </div>
    <div class="col-xs-4">

      <%= form_for @order_item, remote: true do |f| %>
      <h4 class="text-right">Unit Price: <span style="color: green"><%= number_to_currency @accessory.cost %></span></h4>
      <h4><%= @accessory.description %>
        <div class="input-group">
          <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
          <div class="input-group-btn">
            <%= f.hidden_field :accessory_id, value: @accessory.id %>
            <%= f.submit "Add to Cart", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
