<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span><%= number_to_currency (@amount / 100) %></span>
    </label>
  </article>
  <select name="provinces">
    <% @provinces.each do |province| %>
      <option value="province.Name"><%= province.Name %></option>
    <% end %>
  </select>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount= "<%= @amount %>"
          data-locale="auto"></script>
<% end %>