<%# <%= link_to 'hireling', root_path, class: 'navbar-brand' %>
<%# <%= link_to 'accessory', root_path, class: 'navbar-brand' %>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "DnD shop!", accessories_path, class:"navbar-brand" %>
  <%# <a class="navbar-brand" href="#">D n D</a> %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
       <%= link_to "Gear UP!", accessories_path, class:"sr-only" %>
        <%# <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> %>
      </li>
      <%# <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li> %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Hireling Classes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% @hire_class_navs.each do |hire_class_nav| %>
            <%= link_to hire_class_nav.class_name, hire_class_nav.class_name, class:"dropdown-item" %>
            <div class="dropdown-divider"></div>
          <% end %>
          <%= link_to "All Classes", hirelings_path, class:"dropdown-item" %>
          <%# <%= link_to "Hire some friends!", hirelings_path, class:"dropdown-item" %>
          <%# <a class="dropdown-item" href="#">Hire some friends!</a> %>

          <%# <a class="dropdown-item" href="#">Upgrade your gear!</a> %>

          <%# <a class="dropdown-item" href="#">Something else here</a> %>

        </div>
      </li>
      <%# <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> %>
    </ul>
    <form class="form-inline my-2 my-lg-0">
    <h1 class="cart-text"><%= render 'layouts/cart_text' %></h1>


      <%# <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> %>
      <%# <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> %>
    </form>
  </div>
</nav>
<%= form_tag(search_results_path, method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>